<div class="header">
  <h1>United States Documented Drone Strikes</h1>
  <p>Search reports and data provided by the Bureau of Investigative Journalism</p>
</div>

<div class="search">
  <input id="country" type="text" name="country" placeholder="COUNTRY">
  <input id="location" type="text" name="location" placeholder="REGION">
  <input id="date" type="text" name="date" placeholder="DATE YYYY-MM-DD">
  <div>
    <button id="submit" value="SEARCH">SEARCH</button>
    <button id="savedSearches">VIEW SAVED ENTRIES</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="left_div" class="six columns">
      <div id="results"></div>
    </div>
    <div id="right_div" class="six columns">
      <div id="saved"></div>
    </div>
  </div>
</div>
