<div class="header">
  <h1>United States Documented Drone Strikes</h1>
  <p>Search reports and data provided by the Bureau of Investigative Journalism</p>
</div>

<div class="search">
  <select name="select" id="dropdown">
    <option disabled selected>Search by Country</option>
    <option value="Yemen">Yemen</option>
    <option value="Somalia">Somalia</option>
    <option value="Pakistan">Pakistan</option>
  </select>
  <button id="savedSearches">SAVED ENTRIES</button>
</div>
<div class="container">
  <div class="row">
    <div id="left_div" class="six columns">
      <div id="results"></div>
    </div>
    <div id="right_div" class="six columns">
      <div id="saved"></div>
    </div>
  </div>
</div>
