// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background: url('nasa-desert.jpeg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Verdana;
  line-height: 14pt;
}

.header {
  padding-top: 30px;
}

div.columns {
  width: 40vw;
}

div.search {
  height: 50px;
}

div#left_div {
  width: 460px;
  height: 500px;
}

div#right_div {
  width: 460px;
  height: 1px;
}

div#results {
  background-color: rgba(255,255,255,0.8);
  width: 460px;
}

div#saved {
  visibility: hidden;
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 5px;
}

button#submit {
  color: black;
}

button#savedSearches {
  color: black;
  padding: 0;
  margin-bottom: 0px;
  width: 120px;
  background-color: white;
}

button.delete {
  color: black;
  width: 70px;
  height: 35px;
  padding: 0px;
  margin-top: 10px;
}

button.save {
  color: black;
  width: 50px;
  height: 35px;
  padding: 0px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.resultHeader {
  text-align: center;
  margin-bottom: 0px;
}

.savedHeader {
  text-align: center;
  margin-bottom: 0px;
}

.date {
  margin-bottom: 0px;
}

.report {
  margin-bottom: 0px
}

a:link {
  color: olive;
}

h2 {
  color: olive;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0;
}

strong {
  color: olive;
}

h5 {
  color: olive;
  margin-bottom: 0px;
}

h5#loading {
  color: black;
}

h4 {
  color: black;
  margin-bottom: 0px;
}

ul {
  color: black;
}

li {
  color: black;
  margin-bottom: 230px;
}

p {
  color: black;
  margin-bottom: 0px;
}

ul {
  text-align: left;
  margin: 30px;
}

img#loadingGIF {
  max-width: 200px;
}
